<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935455845946-eqo1nkc11kg0ujni2p88873uo709l25s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935455845946-eqo1nkc11kg0ujni2p88873uo709l25s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>935455845946-8dne06htm6vjasrhnbijj0r97lmkrukp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDot5BdKYo6ctz467p4PEOw1empHdumgU</string>
	<key>GCM_SENDER_ID</key>
	<string>935455845946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newage.investo.app</string>
	<key>PROJECT_ID</key>
	<string>uainvestoapp</string>
	<key>STORAGE_BUCKET</key>
	<string>uainvestoapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935455845946:ios:02690f7a4839e370bfcf03</string>
	<key>DATABASE_URL</key>
	<string>https://uainvestoapp-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>